#image-item {
  width: 90%;
  margin: 0 auto 30px;
  padding: 20px;
  border: 2px solid #009ffd;
  border-radius: 15px;
  background-color: #e6f7ff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.button-container {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  gap: 10px; /* Añade un pequeño espacio entre los botones */
  margin-bottom: 10px;
  margin-left: 80%; /* Ajusta según el margen deseado */
}
.btn_Arch, .share {
  display: inline-block; /* Asegura que se alineen uno al lado del otro */
  white-space: nowrap;
  margin: 0;
  padding: 12px 20px; /* Ajuste de padding para centrar el texto */
  height: 40px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center; /* Centra el texto horizontalmente */
  align-items: center; /* Centra el texto verticalmente */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px;
  max-height: 400px; 
  overflow-y: auto; 
}

.file-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #009ffd;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
}

.file-entry:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.file-entry a {
  text-decoration: none;
  color: #0073e6;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.2s, text-shadow 0.2s;
  margin-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-entry a:hover {
  color: #28a745;
  text-shadow: 0 0 5px rgba(149, 255, 139, 0.7);
}


.file-entry button {
  padding: 8px 12px;
  background-color: #dc3545; 
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.file-entry button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.center {
  margin: 20px 0;
}
.tag_arch{
  display: flex;
  margin-left: 30px;
  color: #0a2bbe;
  font-size: 18px;
  font-weight: bold;
}
.share {
  background-color: #0072ff;
}

.share:hover {
  transform: scale(1.05);
}

.input-container {
  display: flex;  
  align-items: center; 
  gap: 10px; 
}
.btn_Arch {
  background-color: #28a745;
}
.btn_Arch:hover, .share:hover {
  transform: scale(1.05);
}
.button {
  display: flex;
  background-color: #28a745;
  padding: 8px 16px;
  border-radius: 6px;
  color: #ffffff;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.address {
  display: block;
  margin: 20px auto;
  padding: 8px;
  width: 300px;
  border: 2px solid #009ffd;
  border-radius: 8px;
  text-align: center;

}

input[type="text"]:focus {
  background-color: #e6f7ff;
  border-color: #007acc;
  outline: none;
}

.image-list::-webkit-scrollbar {
  width: 10px;
}

.image-list::-webkit-scrollbar-track {
  background: #e6f7ff; 
  border-radius: 10px;
}

.image-list::-webkit-scrollbar-thumb {
  background-color: #009ffd; 
  border-radius: 10px; 
  border: 3px solid #e6f7ff; 
}

.image-list::-webkit-scrollbar-thumb:hover {
  background-color: #007acc; 
}

/* Para navegadores Firefox */
.image-list {
  scrollbar-width: thin; /* Ancho del scroll en Firefox */
  scrollbar-color: #009ffd #e6f7ff; 
}
